@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #d993a7;
    min-height: auto;
    overflow: scroll;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    z-index: 140;
    

}


.logo img {
    width: 110px; 
    height: 80px; 
    margin-right: 120px ;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

nav a:hover,
nav a.active {
    background: #ece7e9;
    color: #a35970;
}   

.container {
  position: relative;
  width: 1200px;
  height: 600px;
  min-height: 600px;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 10px;
  background-color: #9a5f70;
  align-self: center;
  margin-top: 200px;
}

.left {
  width: 60%;
  padding: 20px;
}

textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;  
  height: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  float: right;
  max-width: 100%;

}

input[type=submit] {
  background-color: #24665a;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
  background-color: #24665a;
}

.journal-entries-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  float: left;
}

.journal-entries {
  margin-top: 78px;
  margin-left: 5%;
  width: 100%;
}

.journal-entry {
  margin-bottom: 10px;
  padding: 10px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 100%;
}

.journal-entry h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.journal-entry p {
  margin-bottom: 10px;
}

.journal-entry button {
    margin-left: 10px;
    background-color: #24665a;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}