@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: url('login.png') no-repeat center center fixed;
    background-size: cover;
    overflow: auto;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    z-index: 100;
    

}

/*.logo {
    font-size: 2em;
    color: white;
    pointer-events: none;
    margin-right: 140px;
}*/

.logo img {
    width: 110px; 
    height: 80px; 
    margin-right: 120px ;
}


nav a {
    text-decoration: none;
    color: white;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

nav a:hover,
nav a.active {
    background: #ece7e9;
    color: #a35970;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px; /* Adjust based on your layout */
    margin-top: 20px; /* Space below the navbar */
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 300px; /* Adjust based on your design */
}

.form-box {
    display: flex;
    flex-direction: column;
}

.form-box input[type=email],
.form-box input[type=password] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-box button {
    background: #a35970;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-box button:hover {
    background: #d993a7;
}

.toggle-btn {
    background: none;
    color: #a35970;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.toggle-btn:hover {
    text-decoration: underline;
}
