@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #d993a7;
    overflow: auto;

}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    z-index: 100;
    

}

/*.logo {
    font-size: 2em;
    color: white;
    pointer-events: none;
    margin-right: 140px;
}*/

.logo img {
    width: 110px; 
    height: 80px; 
    margin-right: 120px ;
}


nav a {
    text-decoration: none;
    color: white;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}


.nav btnLogin-popup {
width: 130px;
height: 50px;
background: #6acebc;
border: 2px solid  #24665a;
outline: none; 
border-radius: 6px; 
cursor: pointer; 
font-size: 1. 1em;
color: #24665a; 
font-weight: 500;
margin-left: 60px;
}

nav a:hover,
nav a.active {
    background: #ece7e9;
    color: #a35970;
}


.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}

#text {
    position: absolute;
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin: 0;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    margin: 0; 
}

.sec {
    position:relative;
    background: #a84f69;
    padding: 100px;
    overflow: auto;
    height: 150vh;
     
}

.sec h2 {
    font-size: 3em;
    color: white;
    margin-bottom:10px;
   
}

.sec p {
    font-size: 1em;
    color: white;
    font-weight: 300;
}
